.idea
__pycache__/
data/
figure/
fonts/
weights/
trash/
error/
figs/
figs1/
output/
test/
.ftpconfig
.ftpignore
_.ftpconfig
umap_plot.py
test.py
test101.py
test102.py
test103.py
*.txt
*.npy
*.h5
*.pdf
*.jpg
*.png
*.tex
